body {
    background-color: rgba(230, 230, 230, 0.2);
    font-family: monospace;
    text-align: center;    
}

.title {
    margin-top: 100px;
    color: rgb(0, 161, 182);
    font-size: 50px;
    font-weight: 700;
}

.subtitle {        
    margin-top: 20px;
    margin-bottom: 40px;
    color: rgb(0, 161, 182);
    font-size: 25px;
    font-weight: 700;
}
.text {
    margin: 50px 0 20px;
    color: #5a5a5a;
    font-size: 20px;
}
.link {
    margin: 10px;
}
.link a {
    font-size: 16px;
    text-decoration: none;
}
.link a:hover {
    text-decoration: underline;
}